{% extends 'base.html.twig' %}

{% block title %}S'inscrire - ActuG{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="d-inline-block w-100">
            <div class="alert alert-warning mx-auto" role="alert">
                <p class="text-center mb-4 fs-2">Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}</p>
                <p class="text-center">Veuillez vous déconnecter pour créer un autre compte</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_logout') }}" class="btn btn-block btn-signup mt-5 mb-5">Se déconnecter</a>
        </div>
    {% else %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h1 class="font-weight-normal text-center mb-4">S'inscrire</h1>

                {% if form_errors(registrationForm)|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(registrationForm) }}
                    </div>
                {% endif %}

                {{ form_start(registrationForm, {'attr': {'class': 'needs-validation'}}) }}
                    <div class="mb-3">
                        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Saisissez un email...'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.firstname, {'label': 'Prénom', 'attr': {'class': 'form-control', 'placeholder': 'Saisissez un prénom...'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.lastname, {'label': 'Nom', 'attr': {'class': 'form-control', 'placeholder': 'Saisissez un nom...'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword.first, {'label': 'Mot de passe', 'attr': {'class': 'form-control', 'placeholder': 'Minimum 6 caractères...'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword.second, {'label': 'Confirmer le mot de passe', 'attr': {'class': 'form-control', 'placeholder': 'Identique à la saisie précédente...'}}) }}
                    </div>
                    <div class="form-check mb-4 d-flex justify-content-center">
                        {{ form_row(registrationForm.agreeTerms, {'label': 'Cocher pour accepter les conditions d\'utilisation RGPD', 'label_attr': {'class': 'form-check-label'}, 'attr': {'class': 'form-check-input'}}) }}
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-block btn-signup me-3">S'inscrire</button>
                        <a href="{{ path('app_login') }}" class="btn btn-outline btn-login">Se connecter</a>
                    </div>
                        
                {{ form_end(registrationForm) }}

    {% endif %}
{% endblock %}
