{% extends 'base.html.twig' %}

{% block title %}Accueil - ActuG{% endblock %}

{% block body %}

    <h1 class="font-weight-normal text-center" style="margin: 2em 0 2em 0">Nos 3 dernières actualités</h1>

    <div class="article-container">
    {% for article in articles %}
        <div class="article-card">
            <a href="{{ path('app_article_show', {'id': article.id, 'slug': article.slug|default('slug')}) }}" class="text-center text-uppercase text-decoration-none">
                <img width="100%" style="border-radius:5px;" src="{{ asset('assets/images/articles/' ~ article.imageName) }}" />
                <h2 style="text-align: start;">{{ article.title }}</h2>
            </a>
            <i>{{ article.createdAt|date('d/m/Y H:i:s') }}
                {% if article.updatedAt %}
                    (Modifié(e) le <em>{{ article.updatedAt ? article.updatedAt|date('Y-m-d') : '' }}</em> à <em>{{ article.updatedAt|date('H:i')}}</em>)</i>
                {% endif %}
            <p>{{ article.content }}</p>
            <p>
                {% for tag in article.tags %}
                    {{ tag.name }}
                    {% if not loop.last %} | {% endif %}
                {% endfor %}
            </p>
        </div>
        <hr  style="margin: 3em 0;">
    {% endfor %}
</div>






{% endblock %}
