<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="{{ asset('assets/images/logo.png') }}" />
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body class="custom-font-color">
        <nav class="navbar navbar-expand-lg pb-3 pt-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="menu">
                        <ul class="navbar-nav" id="navbar">
                            {% if app.user %}
                            <li class="nav-item dropdown me-3">
                                <a class="nav-link dropdown-toggle fs-5 custom-font-color" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Articles
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item color-orange" href="{{ path('app_article_index') }}">Voir tous les articles</a>
                                    <a class="dropdown-item custom-font-color" href="{{path('app_article_new')}}">Créer un nouvel article</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fs-5 custom-font-color" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bienvenue, {{ app.user.userIdentifier | capitalize }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="dropdown-item custom-font-color" href="{{path('app_admin')}}">Gestion admin</a>
                                    {% endif %}
                                    <a class="dropdown-item custom-font-color" href="{{path('app_account')}}">Mon compte</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item custom-font-color" href="{{path('app_logout')}}">Se déconnecter</a>
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-item dropdown me-3">
                                <a class="nav-link dropdown-toggle fs-5 custom-font-color" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Articles
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item color-orange" href="{{ path('app_article_index') }}">Voir tous les articles</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fs-5 custom-font-color" href="" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Non connecté
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item custom-font-color" href="{{path('app_login')}}">Se connecter</a>
                                    <a class="dropdown-item custom-font-color" href="{{path('app_register')}}">S'inscrire</a>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="menu">
                        <a href="{{ path('app_main') }}">
                            <img src="{{ asset('assets/images/logo.png') }}" alt="Logo" id="logo" class="me-4">
                        </a>
                    </div>
                    <div class="menu search">
                        <form class="d-flex form-search" action="{{ path('app_research') }}" method="post">
                            <input class="form-control me-sm-2" type="search" name="Keywords" placeholder="Rechercher">
                            <button class="btn my-2 my-sm-0 ms-0" type="submit" id="btn-submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {% if not app.user %}    
                        {% if app.request.attributes.get('_route') not in ['app_article_index', 'app_main'] %}
                        <div class="d-inline-block w-100">
                            <div class="alert alert-warning mx-auto mt-3" role="alert">
                                <p class="text-center mb-4 fs-2">Vous n'êtes pas connecté</p>
                                <p class="text-center">Veuillez vous connecter pour accéder à votre compte et gérer les articles (créer et modifier).</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if app.request.attributes.get('_route') not in ['app_login', 'app_register', 'app_main', 'app_article_index'] %}
                            <div class="d-flex justify-content-center mt-4">
                                <a href="{{ path('app_login') }}" class="btn btn-block btn-signup me-3">Se connecter</a>
                                <a href="{{ path('app_article_index') }}" class="btn btn-outline btn-login">Retour à la liste</a>
                            </div>
                        {% endif %}
                    {% endif %}
        
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </body>
</html>