{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de {{ app.user.userIdentifier }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
        <h1 class="mb-4 font-weight-normal text-center">Modifier du mot de passe de "{{ app.user.userIdentifier }}"</h1>

        {% for flashMessage in app.flashes('danger') %}
            <div class="alert alert-warning" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

            <div class="mb-3">
                {{ form_row(form.plainPassword, {'label': 'Mot de passe', 'attr': {'class': 'form-control', 'placeholder': 'Minimum 6 caractères...'}}) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.newPassword.first, {'label': 'Nouveau mot de passe', 'attr': {'class': 'form-control', 'placeholder': 'Minimum 6 caractères...'}}) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.newPassword.second, {'label': 'Confirmer le nouveau mot de passe', 'attr': {'class': 'form-control', 'placeholder': 'Identique à la saisie précédente...'}}) }}
            </div>

            <div class="d-flex justify-content-center mt-4">
                {{ form_row(form.submit) }}
                <a href="{{path('app_account')}}" class="btn btn-outline btn-login">Mon compte</a>
            </div>

        {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}
