{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

    <div class="mb-3">
        {{ form_row(form.title, {'label': 'Titre', 'attr': {'class': 'form-control', 'placeholder': 'Saisissez un titre...'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.content, {'label': 'Contenu', 'attr': {'class': 'form-control', 'placeholder': 'Saisissez l\'article...'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.imageFile, {'label': 'Ajouter une image', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-4">
        {{ form_label(form.tags, 'Tags associés') }}
        {% if form.tags is empty %}
            <p>Aucun tag disponible.</p>
        {% else %}
            {% for tag in form.tags %}
                <div class="form-check">
                    {{ form_widget(tag, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(tag, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-block btn-signup me-3">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_article_index') }}" class="btn btn-outline btn-login">Retourner à la liste</a>
    </div>
{{ form_end(form) }}
