{% extends 'base.html.twig' %}

{% block title %}Modifier {{article.title}} - ActuG{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <h1 class="font-weight-normal text-center mb-4">Modifier l'article n°{{article.id}} : {{article.title}}</h1>

                    {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

                    <div class="d-flex justify-content-center mt-4 ">
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ include('article/_delete_form.html.twig') }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
