{% extends 'base.html.twig' %}

{% block title %}Liste des articles - ActuG{% endblock %}

{% block body %}
    <h1 class="font-weight-normal text-center mb-4">Liste des articles</h1>

    <div class="row d-flex justify-content-center">
        {% for article in articles %}

            <div class="card miniature col-4 col-sm-3" >
                <a href="{{ path('app_article_show', {'id': article.id, 'slug': article.slug|default('slug')}) }}" class="text-center text-uppercase text-decoration-none">
                    <img class='miniature' src="{{ asset('assets/images/articles/' ~ article.imageName) }}">
                    <div class='container'><p class="mt-3">{{article.title}}</p></div></a>
                    <span class="text-center">Publié(e) par {{article.userId.firstname}} {{article.userId.lastname}}</span>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
         {{ knp_pagination_render(articles) }}
    </div>

    {% if app.user %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_article_new') }}" class="btn btn-block btn-signup me-3">Créer un nouvel article</a>
        </div>
    {% endif %}

{% endblock %}
