{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - ActuG{% endblock %}

{% block body %}
    <h1 class="font-weight-normal mb-4">{{ article.title }}</h1>

    <span><em>Publié le {{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</em></span>

    <!-- Mettre une condition pour mettre "Publié le" quand s'est créer puis si existe updatedAt mettre "Mis à jour le"... -->

    <p>{{ article.content }}</p>

    <div class="mt-4">
        {% if app.user %}
            <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-block btn-signup me-3">Modifier</a>
        {% endif %}
        <a href="{{ path('app_article_index') }}" class="btn btn-outline btn-login">Retour à la liste</a>
    </div>
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('article/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
    
{% endblock %}
