{% extends 'base.html.twig' %}

{% block title %}Mon compte, {{ app.user.userIdentifier | capitalize }}{% endblock %}

{% block body %}
        <div class="container">
            <div class="row justify-content-center mt-5">
                <h1 class="mb-4 font-weight-normal text-center">Votre profil, {{ app.user.firstname | capitalize }} {{ app.user.lastname | capitalize }}</h1>

                {% for flashMessage in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Informations</th>
                            <th scope="col">Valeur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ app.user.userIdentifier }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Prénom</th>
                            <td>{{ app.user.firstname }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nom</th>
                            <td>{{ app.user.lastname }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Mot de passe</th>
                            <td>*****</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <form method="post" action="{{ path('app_user_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Etes-vous certain de supprimer votre compte ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-danger">Supprimer mon compte</button>
        </div>
    </form>
    
{% endblock %}